<div ng-controller="DependenciesController">
    <a href="#/repos">Repos</a>
    <section class="col-md-offset-4">
        <input type="text" ng-model="search" placeholder="Search by Title">
    </section>
    <table class="table">
        <th><a href="" ng-click="predicate = 'name'; reverse=!reverse;toggleLabel('name');">Dependency Name</a> ({{showLabel("name")}})</th>
        <th><a href="" ng-click="predicate = '-repos.length'; reverse=!reverse;toggleLabel('usage');">Usage</a> ({{showLabel("usage")}})</th>
        <tr ng-repeat="dependency in dependencies | orderBy:predicate:reverse | filter:{name: search}">
            <td>{{dependency.name}}</td>
            <td>{{dependency.repos.length}}</td>
        </tr>
    </table>
</div>
